
body {
    background-color: transparent;
}

#br-router{
    background-color: transparent;
    
}

header{
    background-color: rgba(112, 112, 112, 0.4);
    text-align: center;
    font-size: 3vw;
}
header>nav{
    font-weight: bold;
}
header>i{
    font-size: 2vw;
    margin-left: 0.1vw;
    color: gray;
}

#body{
    display:flex;
    padding: 5px;

}
#left-side-nav{
    display: flex;
    justify-content: center;
    background-color: gray;
    width: 40vw;
    height: 85vh;
}

#intern-domesticos{
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 55, 55);
    width: 85%;
    height: 95%;
    padding: 5px;
}

#intern-domesticos > ul{
    display:flex;
    justify-content: center;
    background-color: transparent;

}

#nav-output{
    background-color: red;
    height: 300px;
}


#data-output{
    background-color:black;
    color: white;
    width: 75vw;
    height: 85vh;
    overflow: auto;
}

ul {
    display: flex;
    gap: 10px;
    background-color: transparent;
    font-size: 2vw;
    list-style: none;
    padding: 4px;
    margin:0px;
}

li{
    background-color: navy;
    color: white;
}
li:hover{
    border: 1px solid yellow;
    cursor:pointer;
}

a{
    text-decoration: none;
    color: white;
}

#intern-output {
    background-color: blue;
    width: 100%;
    margin: 5px 0px;
}

#intern-output > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-align: center;
    padding: 0px 5px;
    margin: 10px 0px;
}

#intern-output > #output {
    background-color: transparent;
    width:100%;
    font-size: 2vw;
    margin-top: 2vh;
}

